.black { background-color: #323232 !important; background-color: var(--black) !important; }
.white { background-color: #FFFFFF !important; background-color: var(--white) !important; }
.lilac { background-color: #8B84B4 !important; background-color: var(--lilac) !important; }
.violet { background-color: #6B6392 !important; background-color: var(--violet) !important; }

.body {     
    overflow: hidden;
    position: relative;
}
.content { 
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 1.5em;
}
.bodyheader h1 > span { 
    position: absolute;
    left: -9999px;
}
.bodyheader h1 {
    padding-top: 1em;
}
.bodyheader h1::before { 
    content: "";
    background-image: url(../img/JaTleasing.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    display: block;
    height: 38px;
}
.bodyheader .content {
    position: relative;
    height: 100%;
    background-image: url(../img/JTLeasing_krystal_3D_8bit_448.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 10% right -150px;
}

.bodyheader .trailer {
    padding-top: 165px;
    font-size: 1.25em; /*1.75*/
    margin: 0 -.33em;
    max-width: 420px;
}

.trailer .claim {
    font-size: 2.32143em;
    font-weight: 300;
    max-width: 300px;
}

.signature {
    font-weight: bold;
}

.claim { 
    margin: 0;
    padding: .5em 0;
    font-size: 2em;
}
.stripe::before {
    content: "";
    display: block;
    position: relative;
    height: 120px;
    z-index: 1;
    background-image: url(../img/stripe_1680.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: top center;
}

.containerSpecs { 
    margin-left: 82px;
    margin-left: calc(70px + .5em);
}

.containerSpecs dt {
    font-size: 1.77777778em;
    margin-top: 1em;
    margin-bottom: .5em;
    position: relative;
    font-weight: normal;
}
.containerSpecs dd {
    color: #FFFFFF;
}

.containerSpecs > div dt::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    background-image: url(../img/checkMark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    border: 2px solid #6B6392;
    padding: 15px;
    right: 100%;
    top: 0;
    margin-right: .5em;
}

.cta-block {
    text-align: center;
    padding: 2em 0;
}
.cta-text {
    font-size: 1.6em; /*1.78*/
}

.btn {
    display: inline-block;
    padding: 1em 2em;
}

.btn-cta {
    color: #FFFFFF;
    background-color: #323232;
    border-radius: .5em;
    text-transform: uppercase;
}

.btn-cta:hover {
    color: #FFFFFF;
}

.containerSpecs.financing dd {
    color: #323232;
}

.containerSpecs.financing {
    counter-reset: count; 
}

.containerSpecs.financing dt {
    counter-increment: count;
}

.containerSpecs.financing > div dt::before {
    content: counter(count);
    background-image: none;
    color: #6B6392;
    font-size: 2em;
    text-align: center;
    line-height: .50em;
    vertical-align: bottom;
    margin-right: .268em;
}

.containerSpecs.financing > div:nth-child(3) dt::before {
    line-height: .30em;
}

.timeline {
    display: flex;
    height: 125px;
    padding: 1.5em 0;
    margin: 0;
    overflow-x: auto;
    scrollbar-color: #3D235A #6B6392;
    scrollbar-width: thin;
    -ms-overflow-style: auto;
}
.timeline::-webkit-scrollbar {
    height: 10px;
}
.timeline::-webkit-scrollbar-track {
    background: #6B6392;
}
.timeline::-webkit-scrollbar-thumb {
    background: #3D235A;
}
.timeline > img {
    flex-shrink: 0;
    width: 1080px; /*IE*/
}
.financinglist {
    padding: 2em 0 1em 0;
}

.financinglist ul {
    list-style-type: none;
    padding: .5em 0 0 0;
}
.financinglist ul li {
    margin-left: 1em;
    text-indent: -1em;
}
.financinglist ul li::before {
    content: "";
    display: inline-block;
    width: .25em;
    height: .25em;
    transform: rotateZ(-45deg);
    background-color: #6B6392;
    vertical-align: middle;
    margin-right: .75em;
}
.calculate-limitedoffer {
    max-width: 480px;
    padding-top: 2em;
}
.calculate-table {
    max-width: 720px;
    width: 100%;
    border-collapse: collapse;
    color: #F2F2F2;
}
.calculate-table tr {
    border-top: 1.5px solid #D7D5E8;
    border-bottom: 1.5px solid #D7D5E8;
}
.calculate-table tr > * {
    display: block;
    padding: 0.2em;
}
.calculate-table td { 
    white-space: nowrap; 
    font-family: Arial, Helvetica, sans-serif;
}
.calculate-table .font { 
    font-family: inherit;
}
.calculate-table td:nth-child(2) { 
    text-align: right; 
}
.calculate-table tr:first-child td:nth-child(2) {
    font-weight: bold;
}
.calculate-table .calculate-table-strong {
    background-color: #D7D5E8;
    color: #3D235A;
}
.calculate-table-small {
    font-size: 0.85em;
    font-weight: normal;
}
.contact dd {
    margin-bottom: 0;
}
.contact a,
.address a {
    color: #6B6392;
    text-decoration: underline;
}
.contact a:hover,
.address a:hover {
    text-decoration: none;
}
.address p {
    margin: 0;
}
.foundation-wrapper {
    padding: 2em 0;
}
.foundation-wrapper p {
    padding: 2em 1.5em;
    padding-right: 0;
    font-size: 1.25em;
}
.bodyfooter {
    color: #919294;
}
.bodyfooter a {
    color: inherit;
}

.logo span {
    position: absolute;
    left: -9999px;
}
.logo.logo-foundation {
    height: 135px;
    max-width: 409px;
    display: block;
}
.logo.logo-foundation::before {
    content: "";
    display: block;
    background-image: url(../img/nadaceJT.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.logo-JaT::before {
    content: url(../img/JaTleasingFooter.svg);
    display: block;
}
.logo-fb::before {
    content: url(../img/fb.svg);
}
.logo-ig::before {
    content: url(../img/ig.svg);
}
.bodyfooter-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;
}

/* mobil only features */
@media only screen and (max-width: 759.9px) {

  
}

@media only screen and (min-width: 420px) {
    h2 {
        font-size: 2.75em;
    }
    .bodyfooter-wrapper {
        padding: 2em 1em;
    }
    .calculate-table tr > * {
        display: table-cell;
        padding: 0.666em .666em .666em .2em;
    }
}
@media only screen and (min-width: 540px) {
    h2 {
        font-size: 3.125em;
    }
}
