.black { background-color: #323232 !important; background-color: var(--black) !important; }
.white { background-color: #FFFFFF !important; background-color: var(--white) !important; }
.lilac { background-color: #8B84B4 !important; background-color: var(--lilac) !important; }
.violet { background-color: #6B6392 !important; background-color: var(--violet) !important; }

.light {
    font-weight: lighter;
}
.heavy {
    font-weight: bold;
    font-size: 1.77778em;
}

.body {     
    overflow: hidden;
    position: relative;
}
.content { 
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 1.5em;
}
.bodyheader { 
    /*padding-bottom: 37.760417%;*/
}
.bodyheader h1 > span { 
    position: absolute;
    left: -9999px;
}
.bodyheader h1 {
    padding-top: 1em;
}
.bodyheader h1::before { 
    content: "";
    background-image: url(../img/JaTleasing.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    display: block;
    height: 38px;
}
.bodyheader .content {
    position: relative;
    height: 100%;
    background-image: url(../img/JTLeasing_krystal_3D_8bit_448.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 5% right -150px;
}

.bodyheader::before {
    content: "";
    position: absolute;
    top: 125px;
    height: 58px;
    right: 0;
    left: 0;
    z-index: 1;
    background-image: url(../img/OCC_COVER_960.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.bodyheader .trailer {
    padding-top: 160px;
    font-size: 1.25em;
    font-weight: bold;
}
.bodyheader .trailer p:nth-child(1) {
    max-width: 275px;
}
.bodyheader .trailer p:nth-child(2) {
    max-width: 385px;
}
.claim { 
    margin: 0;
    padding: .5em 0;
    font-size: 2em;
    font-weight: bold;
}
.stripe::before {
    content: "";
    display: block;
    position: relative;
    height: 120px;
    z-index: 1;
    background-image: url(../img/stripe_1680.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: top center;
}
.containerSpecs { 
    margin-left: 64px;
    margin-left: calc(50px + 1.3333333em);
}

.containerSpecs dt {
    font-size: 1.77777778em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: .5em;
    position: relative;
}

.containerSpecs > div dt::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../img/plusMark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    right: 100%;
    transform: translateY(50%);
    bottom: 0;
    margin-right: .75em;
}

.timeline {
    display: flex;
    height: 125px;
    padding: 1.5em 0;
    margin: 0;
    overflow-x: auto;
    scrollbar-color: var(--grape) var(--violet);
    scrollbar-width: thin;
    -ms-overflow-style: auto;
}
.timeline::-webkit-scrollbar {
    height: 10px;
}
.timeline::-webkit-scrollbar-track {
    background: var(--violet);
}
.timeline::-webkit-scrollbar-thumb {
    background: var(--grape);
}
.timeline > * {
    flex-shrink: 0;
}
.calculate-limitedoffer {
    background-color: #D7D5E8;
    background-color: var(--pastel);
    border-radius: .5em;
    color: #323232;
    color: var(--black);
    font-size: .666667em;
    font-weight: bold;
    text-align: right;
    padding: 1.3333em 2em;
}
.calculate-table {
    width: 100%;
    border-collapse: collapse;
}
.calculate-table tr {
    border-top: 1.5px solid #FFFFFF;
    border-top: 1.5px solid var(--white);
    border-bottom: 1.5px solid #FFFFFF;
    border-bottom: 1.5px solid var(--white);
}
.calculate-table tr > * {
    display: block;
    padding: 0.2em;
}
.calculate-table td { white-space: nowrap; }
.calculate-table td:nth-child(2) { 
    text-align: right; 
    font-weight: bold;
}
.calculate-table-strong {
    background-color: #D7D5E8;
    background-color: var(--pastel);
    color: #3D235A;
    color: var(--grape);
}
.calculate-table-small {
    font-size: 0.85em;
    font-weight: normal;
}
.feedback-item h3 {
    padding: 1em 0;
}
.bodyfooter {
    position: relative;
}

.bodyfooter::before {
    content: "";
    display: block;
    position: relative;
    height: 116px;
    z-index: 1;
    background-image: url(../img/OCC_COVER_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.contact dt {
    font-size: 1.555556em;
}

.address p {
    margin: 0;
}
.address a {
    color: inherit;
}
.logo-wrapper {
    display: flex;
    justify-content: space-between;
}
.logo-nadace > span {
    position: absolute;
    left: -9999px;
}
.logo-nadace::before {
    content: url(../img/nadaceJT.svg);
    display: block;
}


/* mobil only features */
@media only screen and (max-width: 759.9px) {

  
}
