@media only screen and (min-width: 420px) {
    h2 {
        font-size: 2.75em;
    }
    .bodyfooter-wrapper {
        padding: 2em 1em;
    }
    .calculate-table tr > * {
        display: table-cell;
        padding: 0.666em .666em .666em .2em;
    }
}
@media only screen and (min-width: 540px) {
    h2 {
        font-size: 3.125em;
    }
}
@media only screen and (min-width: 720px) {
    .containerSpecs.benefits {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .containerSpecs.benefits > div {
        flex-basis: calc(50% - (96px / 2) - 18px);
    }
}
@media only screen and (min-width: 760px) {
    .stripe::before {
        height: 235px;
        background-image: url(../img/stripe_3939.jpg);
    }
    .content { 
        padding: 2.666667em 5.3333334em;
    }
    .bodyheader .content {
        padding: 0 5.3333334em;
        background-image: none;
    }
    .bodyheader .content::after {
        content: "";
        background-image: url(../img/JTLeasing_krystal_3D_8bit_895.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
        position: absolute;
        width: 80%;
        top: -50px;
        right: -100px;
        bottom: -120px;
    }
}
@media only screen and (min-width: 860px) {

}
@media only screen and (min-width: 1140px) {

}
@media only screen and (min-width: 1777px) {

}
@media only screen and (min-width: 1960px) {

}