@media only screen and (min-width: 420px) {
    .calculate-table tr > * {
        display: table-cell;
        padding: 0.666em .666em .666em .2em;
    }
    .crystal-wrapper {
        max-width: 1920px;
        position: relative;
        margin: 0 auto;
    }
    .crystal-wrapper::after {
        content: "";
        background-image: url(../img/JTLeasing_krystal_3D_8bit_895.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
        position: absolute;
        transform: rotateZ(-18deg) scale(1.5) translateX(0) translateY(-15%);
        transform-origin: top center;
        width: 50%;
        right: 0px;
        top: 0px;
        bottom: 0px;
        pointer-events: none;
    }
}
@media only screen and (min-width: 720px) {
    .containerSpecs { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .containerSpecs > div {
        flex-basis: calc(50% - (96px / 2) - 18px);
    }
    .calculate-wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .calculate-limitedoffer {
        flex-basis: 12em;
        margin-left: 4em;
    }
    .calculate-limitedoffer > span {
        display: block;
    }
    .calculate-table {
        width: 75%;
        flex: 1 1 auto;
        flex-grow: 1;
    }
    .feedback {
        display: flex;
        justify-content: space-between;
    }
    .feedback-item {
        flex-basis: 47%;
    }
    .feedback-item h3 {
        text-align: center;
        /* padding: 1.75em 1em; */
    }
    .crystal-wrapper::after {
        transform: rotateZ(-18deg) scale(1.5) translateX(-20%) translateY(-15%);
    }
}

@media only screen and (min-width: 760px) {
    .stripe::before {
        height: 235px;
        background-image: url(../img/stripe_3939.jpg);
    }
}

@media only screen and (min-width: 860px) {
    .bodyheader h1 {
        padding-top: 4.45em;
    }
    .bodyheader { 
        height: 725px;
    }
    .content { 
        padding: 2.666667em 5.3333334em;
    }
    .bodyheader .content {
        padding: 0 5.3333334em;
        background-image: none;
    }
    .bodyheader .content::after {
        content: "";
        background-image: url(../img/JTLeasing_krystal_3D_8bit_895.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
        position: absolute;
        width: 80%;
        top: -50px;
        right: -100px;
        bottom: -120px;
    }
    .bodyheader::before {
        top: 200px;
        height: 116px;
        background-image: url(../img/OCC_COVER_1920.jpg);
    }
    .bodyheader .trailer {
        padding-top: 260px;
        font-size: 1.4444444em;
    }
    .claim { 
        font-size: 3.5em;
    }
    .feedback-item h3 {
        padding: 1.75em 1em;
    }
}
@media only screen and (min-width: 1140px) {
    /* .stripe::before {
        background-size: contain;
    } */
    .timeline {
        margin: 0 -5.3333334em;
    }
    .feedback-item h3 span {
        display: block;
    }
    .crystal-wrapper::after {
        transform: rotateZ(-18deg) scale(2) translateX(-20%) translateY(-25%);
    }
}
@media only screen and (min-width: 1777px) {
    .crystal-wrapper::after {
        transform: rotateZ(-18deg) scale(3) translateX(-20%) translateY(-28%);
    }
}
@media only screen and (min-width: 1960px) {
    .stripe::before {
        background-size: contain;
    }
}